<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>

<h1>Twitter</h1>

<%= link_to "つぶやく", new_contact_path %>
  </div>
</div>
  
<%= link_to "Tweet一覧画面にもどる", contacts_path %>
  
<footer>
  <p>Twitter</p>