<header>
</header>
<section class="main-header">
<img src="images-master/achieve.png">
</section>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>

<h1>Twitter</h1>

<div>
<%= link_to "つぶやく", new_contact_path %>
</div>
<div>
<%= link_to "Tweet一覧画面へ", contacts_path %>
</div>

<footer>
<p>Twitter</p>
<p>運営会社Rubys</p>
</footer>